.ux {
  &__transition {
    &--fade-down {
      transition: transform 0.5s, opacity 0.5s;
      opacity: 0;
      transform: translate(0, -100px);
    }
    &--fade-up {
      transition: transform 0.5s, opacity 0.5s;
      opacity: 0;
      transform: translate(0, 100px);
    }
    &--fade-left {
      transition: transform 0.5s, opacity 0.5s;
      opacity: 0;
      transform: translate(100px, 0);
    }
    &--fade-right {
      transition: transform 0.5s, opacity 0.5s;
      opacity: 0;
      transform: translate(-100px, 0);
    }
    &--animated {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  &__sticky {
    height: 100vh;
    &__content {
      width: 100%;
      height: 100%;
    }
  }
  &__callback {
    &--start {
      > * {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
    &--end {
      > * {
        position: static;
      }
    }
  }
  &__counting {
    display: flex;

    &__number-wrap {
      position: relative;
      flex: 1;
      overflow: hidden;
      height: 2em;
    }
    &__number {
      $deg: 20;
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      align-items: center;
      opacity: 0;
      transition-duration: 150ms;
      @for $i from 0 through 9 {
        &--#{$i} {
          $d: $deg * $i;
          opacity: 1 - (abs($i * 0.3));
          transform: rotateX(#{$d}deg) translate3d(-50%, -50%, 90px);
        }
      }
      @for $i from 0 through 9 {
        [data-value="#{$i}"] & {
          @for $j from 0 through 9 {
            &--#{$j} {
              $o: ($j - $i) * $deg;
              opacity: 1 - (abs(($j - $i) * 0.3));
              transform: rotateX(#{$o}deg) translate3d(-50%, -50%, 90px);
            }
          }
        }
      }
    }
  }
}
