body {
  margin: 0;
  padding: 0;
}
.uiwwsw-demo {
  &__start-element {
    display: flex;
    width: fit-content;
    height: 100vh;
    font-size: 100px;
    align-items: center;
    margin: auto;
  }
  &__ux-scroll {
    position: relative;
    &--1 {
      height: 1000px;
    }
    &--2 {
      height: 2000px;
    }
    &--3 {
      height: 3000px;
    }
    &--4 {
      height: 4000px;
    }
    &--5 {
      height: 5000px;
    }
    &__content {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      .started & {
        position: fixed;
      }
      .ended & {
        bottom: 0;
        top: auto;
        position: absolute;
      }
      &__item {
        &--1 {
          .item1 {
            display: flex;
            height: 100vh;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              transition: background 0.4s;
            }
            .text {
              display: none;
              align-self: center;
              font-size: 4vmax;
              transition: opacity 0.3s;
              max-width: calc(100vw - 330px);
            }
          }
        }
      }
    }
  }
}
