body {
  margin: 0;
  padding: 0;
}
@for $i from 0 through 100 {
  [data-width="#{$i}"] {
    width: $i * 1% !important;
  }
}

.uiwwsw-demo {
  &__ux-scroll {
    position: relative;
    &--1 {
      height: 1000px;
    }
    &--2 {
      height: 2000px;
    }
    &--3 {
      height: 3000px;
    }
    &--4 {
      height: 4000px;
    }
    &--5 {
      height: 5000px;
    }
    &__content {
      overflow: hidden;
      position: sticky;
      top: 0;
      // .started & {
      //   position: fixed;
      // }
      // .ended & {
      //   bottom: 0;
      //   top: auto;
      //   position: absolute;
      // }
      &__item {
        &--0 {
          display: flex;
          width: fit-content;
          height: 100vh;
          font-size: 100px;
          align-items: center;
          margin: auto;
          .item0 {
            &::before {
              content: attr(data-text);
            }
          }
        }
        &--1 {
          .item1 {
            position: relative;
            height: 100vh;
            transform: translate3d(0, 0, 0);
            .img-wrap {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: #363638;
              will-change: transform;
              transform-origin: left top;
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
            .text {
              opacity: 0;
              align-self: center;
              transition: opacity 1s;
              font-size: 6vmin;
              img {
                opacity: 0;
                float: left;
                width: 50%;
                height: 50vh;
                padding: 0 12px 12px 0;
              }
              > span,
              > p {
                opacity: 0.3;
                font-weight: normal;
              }
              &.text1 {
                span {
                  &:nth-child(2) {
                    opacity: 1;
                    font-weight: bold;
                  }
                }
              }
              &.text2 {
                span {
                  &:nth-child(3) {
                    opacity: 1;
                    font-weight: bold;
                  }
                }
              }
              &.text3 {
                span {
                  &:nth-child(4) {
                    opacity: 1;
                    font-weight: bold;
                  }
                }
              }
              &.text4 {
                p {
                  opacity: 1;
                  font-weight: bold;
                }
              }
            }
          }
        }
        &--2 {
          display: flex;
          height: 100vh;
          .item2 {
            font-size: 10vw;
            align-self: center;
            margin: auto;
            transition: transform 0.1s;
            transform-origin: center center;
            transform: matrix(21, 0, 0, 21, 0, 0);
            color: #363638;
          }
        }
      }
    }
  }
}

.transition-demo {
  padding: 10vw;
  &__start {
    height: 100vh;
    clear: both;
  }
  &__transition {
    clear: both;
    height: 200px;
    padding: 30px;
    margin: 30px;
    background: rgb(121, 121, 121);
    &:nth-child(odd) {
      float: left;
    }
    &:nth-child(even) {
      float: right;
    }
  }
}
