.ux {
  &__transition {
    &--fade-down {
      transition: transform 0.5s;
      transform: translate3d(0, 100px, 0);
    }
    &--fade-up {
      transition: transform 0.5s;
      transform: translate3d(0, -100px, 0);
    }
    &--fade-left {
      transition: transform 0.5s;
      transform: translate3d(100px, 0, 0);
    }
    &--fade-right {
      transition: transform 0.5s;
      transform: translate3d(-100px, 0, 0);
    }
    &--animated {
      transform: translateZ(0);
    }
  }

  &__counting {
    display: flex;

    &__number-wrap {
      position: relative;
      flex: 1;
      overflow: hidden;
      height: 2em;
    }
    &__number {
      $deg: 20;
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      align-items: center;
      opacity: 0;
      transition-duration: 150ms;
      @for $i from -1 through 10 {
        &--#{$i} {
          $d: $deg * $i;
          opacity: 1 - (abs($i * 0.3));
          transform: rotateX(#{$d}deg) translate3d(-50%, -50%, 90px);
        }
      }
      @for $i from -1 through 10 {
        [data-value="#{$i + 1}"] & {
          @for $j from -1 through 10 {
            &--#{$j + 1} {
              $o: ($j - $i) * $deg;
              opacity: 1 - (abs(($j - $i) * 0.3));
              transform: rotateX(#{$o}deg) translate3d(-50%, -50%, 90px);
            }
          }
        }
      }
    }
  }
}
